/* Larger than phone */
@media (min-width: 600px) {
	.progress-wrapper {
		float:left;
		text-align:left;
		width: 20%;
	}
	#neededBy {
		display: block;
	}
	.subject {
		color: #FFF;
		float: left;
		font-size: 2rem;
		font-weight: 900;
		overflow: hidden;
		width: 70%;
	}
	.button {
		background-color:  #4CAF50;
		border: 1px solid #333;
		float: right;
		font-size: 1rem;
		height: 40px;
		margin: auto;
		padding: 0;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		width: 20%;
	}
	.nav-button {
		float: right;
		vertical-align: middle;
	}
	.two-thirds {
		width: 68.8%;
	}
	.column,
	.columns {
		background: transparent;
		margin-left: 3px; }
	.clock-wrapper {
		display: block;
		min-width: 50px;
	}
	.clock {
		color: #AAA;
		display: block;
		font-size: 1.8rem;
		font-weight: 600;
		margin-bottom: 0;
		padding: 5px;
	}
	.header {
		background-color: #666;
		margin-top: 6rem;
		text-align: center;
	}
	.punches {
		text-align: left;
	}
}

