/* Larger than tablet */
@media (min-width: 750px) {
	.progress-wrapper {
		float:left;
		text-align:left;
		width: 15%;
	}
	#neededBy {
		display: block;
	}
	#whoami {
		width: 100%;
	}
	.needby-container {
		text-align: center;
		width: 22%;
	}
	.tags-summary {
		display: block;
		font-size: 1em;
		margin-left: 10px;
	}
	a.tags-summary {
		color: #00BFFF;
		float:left;
		text-decoration: none;
	}
	a.tags-summary:hover {
		color: #00FFFF;
		text-shadow: 0 0 23px #FFF;
	}
	.tags-details {
		display: none;
	}
	.subject {
		color: #FFF;
		float: left;
		font-size: 2rem;
		font-weight: 900;
		overflow: hidden;
		width: 70%;
	}
	.column-left {
		background-color: #000;
		border-right: 3px solid #000;
		display: none;
		float: left;
		height: 99%;
		margin-left: auto;
		margin-top: 100px;
		overflow: hidden;
		width: 30%;
	}
	.column-right {
		display: none;
		float: left;
		overflow: hidden;
		width: 10%;
	}
	.column-middle {
		display: block;
		margin-left:auto;
		margin-right:auto;
		overflow: visible;
		width: 55%;
	}
/* Navbar */
	.clock-wrapper {
		display: block;
		min-width: 50px;
	}
	.clock {
		color: #AAA;
		display: block;
		font-size: 1.8rem;
		font-weight: 600;
		margin-bottom: 0;
		padding: 5px;
	}
	.navbar,
	.navbar-spacer {
		background: #222;
		border-bottom: 1px solid #eee;
		border-top: 0 solid #eee;
		display: block;
		height: 6.5rem;
		width: 100%;
		z-index: 99;
	}
	.navbar-spacer {
		display: none;
	}
	.navbar > .container {
		width: 100%;
	}
	.navbar-list {
		list-style: none;
		margin-bottom: 0;
	}
	.navbar-item {
		float: left;
		margin-bottom: 0;
		position: relative;
	}
	.navbar-link {
		color: #222;
		font-size: 11px;
		font-weight: 600;
		letter-spacing: .2rem;
		line-height: 6.5rem;
		margin-right: 35px;
		text-decoration: none;
		text-transform: uppercase;
	}
	.active {
		color: #33C3F0;
	}
	.has-docked-nav .navbar {
		left: 0;
		position: fixed;
		top: 0;
	}
	.has-docked-nav .navbar-spacer {
		display: block;
	}
	/* Re-overiding the width 100% declaration to match size of % based container */
	.has-docked-nav .navbar > .container {
	  width: 80%;
	}
}
